@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><a asp-action="ChangeBGColour">Green Background</a></p>
    <p><a asp-action="ReverseText">Reverse Text</a></p>
    <p><a asp-action="BoldText">Bold Text</a></p>
    <p><a asp-action="ItalicText">Italic Text</a></p>
</div>
