@{
    ViewData["Title"] = "Reverse Text Page";
}
<div style="white-space: nowrap">
    <h3>Reverse Your Text!</h3>

    <form>
        <label> Please enter your text below:</label><br />
        <textarea id="inputReverse"></textarea>

        <button type="button" id="reverseBtn" class="btn btn-success" onclick="DisplayUserInput()">Reverse</button>

        <textarea id="outputReverse" readonly>
        </textarea>
    </form>
</div>
<script>
    function DisplayUserInput() {
        let userInput = document.getElementById("inputReverse").value;

        let reverseInput = userInput.split('').reverse().join();
        document.getElementById("outputReverse").value = reverseInput.replace(/,/g, '');
    }
</script>